.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  background: linear-gradient(45deg, #00BC45, #8A00FF);
}